<div class="card-container" fxLayout="column" fxLayoutGap="25px">
    <h4>Superiors</h4>
    <div class="container" fxLayout="row" fxFlex="100" fxLayoutGap="10px">
        <div class="card text-center" fxFlex="50">
            <i class="bi bi-trophy"></i>
            <div class="card-body">
                <h5 class="card-title">10</h5>
                <span class="card-text">Squad Rank</span>
            </div>
        </div>
        <div class="card  text-center" fxFlex="50">
            <i class="bi bi-trophy"></i>
            <div class="card-body">
                <h5 class="card-title">20</h5>
                <span class="card-text">Clan Rank</span>

            </div>
        </div>
    </div>
    <div class="container" fxLayout="row" fxFlex="100" fxLayoutGap="10px">
        <div class="card text-center" fxFlex="50">
            <i class="bi bi-trophy"></i>
            <div class="card-body">
                <h5 class="card-title">5</h5>
                <span class="card-text">Tribe Rank</span>

            </div>
        </div>
        <div class="card text-center" fxFlex="50">
            <i class="bi bi-trophy"></i>
            <div class="card-body">
                <h5 class="card-title">1</h5>
                <span class="card-text">state level</span>

            </div>
        </div>
    </div>
    <div class="container">
        <h4>Points Distribution</h4>
        <div class="Points-Destribution" fxLayout="column" fxLayoutGap="20px">
            <button class="btn btn-light" fxLayout="row" fxLayoutAlign="space-between">Happiness Index
                <i class="bi bi-arrow-right"></i>
            </button>
            <button class="btn btn-light" fxLayout="row" fxLayoutAlign="space-between">Capability Index
                <i class="bi bi-arrow-right"></i>
            </button>
            <button class="btn btn-light" fxLayout="row" fxLayoutAlign="space-between">Innovation Index
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>


</div>