<div class="web-view" fxHide.xs fxHide.sm fxHide.lt-md>
    <nav class="web-nav" fxLayout="row" fxLayoutAlign="start">
        <div fxLayout="column" fxLayoutGap="30px">
            <div class="nav-item" fxLayout="column" fxLayoutAlign="center">
                <i class="bi bi-house-heart-fill"></i>
                <span>Home</span>
            </div>
            <div class="nav-item" fxLayout="column" fxLayoutAlign="center">
                <i class="bi bi-bar-chart-fill"></i>
                <span>My performance</span>
            </div>
            <div class="nav-item" fxLayout="column" fxLayoutAlign="center">
                <i class="bi bi-gift-fill"></i>
                <span>Rewards</span>
            </div>
            <div class="nav-item" fxLayout="column" fxLayoutAlign="center">
                <i class="bi bi-people"></i>
                <span>Spectator view</span>
            </div>
            <div class="nav-item" fxLayout="column" fxLayoutAlign="center">
                <i class="bi bi-mortarboard"></i>
                <span>Learning Academy</span>

            </div>
            <div class="nav-item" fxLayout="column" fxLayoutAlign="center">
                <i class="bi bi-stickies"></i>
                <span> About us</span>

            </div>
            <div class="nav-item" fxLayout="column" fxLayoutAlign="center">
                <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span>
            </div>

        </div>

    </nav>

</div>
<div class="mobile-view" fxHide.lg fxHide.md fxHide.lt fxFlex.lt-md fxHide.gt-lg>
    <nav class="mobile-nav">
        <div class="nav-item" fxLayout="column" fxLayoutAlign="center">
            <i class="bi bi-house-heart-fill"></i>
            <span>Home</span>
        </div>
        <div class="nav-item" fxLayout="column" fxLayoutAlign="center">
            <i class="bi bi-bar-chart-fill"></i>
            <span>My performance</span>
        </div>
        <div class="nav-item" fxLayout="column" fxLayoutAlign="center">
            <i class="bi bi-gift-fill"></i>
            <span>Rewards</span>
        </div>
        <div class="nav-item" fxLayout="column" fxLayoutAlign="center">
            <i class="bi bi-people"></i>
            <span>Spectator view</span>
        </div>
        <div class="nav-item" fxLayout="column" fxLayoutAlign="center">
            <i class="bi bi-mortarboard"></i>
            <span>Learning Academy</span>

        </div>
        <div class="nav-item" fxLayout="column" fxLayoutAlign="center">
            <i class="bi bi-stickies"></i>
            <span> About us</span>

        </div>
        <div class="nav-item" fxLayout="column" fxLayoutAlign="center">
            <i class="bi bi-box-arrow-right"></i>
            <span>Logout</span>
        </div>

    </nav>

</div>